<!-- templates/about/tech.html -->
{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
{% comment %} Колонки с отступом сверху и снизу {% endcomment %}
<div class="row">
  <h1 style="margin-top: 48px; margin-bottom: 30px">Вот что помогло в создании сайта</h1>

  <aside class="col-12 col-md-3" style="background-color: #BF442A">
    <ul class="list-group list-group-flush">
      <li class="list-group-item" style="background-color: #BF442A ; color: #E5E7E9 ; text-decoration: none">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>

      <li class="list-group-item">
        Git
      </li>

      <li class="list-group-item">
        Flake8
      </li>

      <li class="list-group-item">
        Slack
      </li>

      <li class="list-group-item">
        Однокурсники
      </li>

    </ul>
  </aside>
 
  <article class="col-12 col-md-9">
    <p>Было сложно и у меня почти не получилось, но спасибо моей кошке за поддержку</p>
  </article>
</div>
{% endblock %}