{% if page_obj.has_other_pages %}
<nav aria-label="Page navigation" class="my-5">
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li class="page-item" ><a class="page-link" href="?page=1" style="background-color: #232323; color: #E5E7E9 ; text-decoration: none">Первая</a></li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" style="background-color: #232323; color: #E5E7E9 ; text-decoration: none">
          <<
        </a>
      </li>
    {% endif %}
    {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
          <li class="page-item">
            <span class="page-link" style="background-color: #F1C40F; color: #17190D">{{ i }}</span>
          </li>
        {% else %}
          <li class="page-item" >
            <a class="page-link" href="?page={{ i }}" style="background-color: #232323; color: #E5E7E9">{{ i }}</a>
          </li>
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}" style="background-color: #232323; color: #E5E7E9 ; text-decoration: none">
          >>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" style="background-color: #232323; color: #E5E7E9 ; text-decoration: none">
          Последняя
        </a>
      </li>
    {% endif %}    
  </ul>
</nav>
{% endif %}